image: alpine:latest

pages:
  stage: deploy
  script:
    - mkdir .public
    - cp -r public/* .public/     # copia los archivos que queremos servir
    - mv .public public
  artifacts:
    paths:
      - public
  only:
    - public-tyc
